<% include header %>
<div align="center">
    <header>
        <h1 id="name"> About Me</h1>
    </header>
    <section>
        <h2 class="italicFont">Background </h2>
        <p> My hometown is Bhadrapur, Nepal. It is eastern part of Nepal.<br> My major is Management Information System.
            This is my fourth<br> fourth year here at NWMSU. I work on campus as an RA in Dieterich <br> Hall. I
            am involved in several organization on campus.
        </p>
    </section>
    <section>
        <h2 class="italicFont">Plans</h2>
        <p> Currently I am planning to persue my further education and get my<br> graduate degree in MBA/IT. And after
            my graduation, I would like to work<br> as software manager in one of the top companies in the USA.
        </p>
    </section>
    <section>
        <h2 class="italicFont">Interest</h2>
        <p>I love to travel around whenever possible. I also love cooking. One <br> of my favorite sports is Volleyball.
            I have knowledge on python and<br> JAVA programming language.
        </p>
    </section>
</div>
<% include footer %>
