<% include header %>
<h2 class="text-center">Rent calculator</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3" for="numOfDays">No. of days:</label>
            <div class="col-sm-10 col-md-2">
                <input type="number" class="form-control" id="numOfDays" placeholder="No. of days" min="1" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3" for="rentPerDay">Rent per day:</label>
            <div class="col-sm-10 col-md-2"> 
                <input type="text" class="form-control" id="rentPerDay" placeholder="Rent per day" min="0.00" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3" for="tax">Tax (%):</label>
            <div class="col-sm-10 col-md-2"> 
            <input type="text" class="form-control" id="tax" placeholder="Tax (%)" min="0.00" required>
            </div>
        </div>
        <div class="form-group row no-margin">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3">Total:</label>
            <label class="col-sm-10 col-md-2 pad-top" id="totalLbl">0.00</label>
        </div>
        <div class="form-group row no-margin">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3">Tax:</label>
            <label class="col-sm-2 col-md-2 pad-top" id="taxLbl">0.00</label>
        </div>
        <div class="form-group row no-margin">
            <label class="control-label col-sm-2 col-md-2 col-md-offset-3">Grand total:</label>
            <label class="col-sm-2 col-md-2 pad-top" id="grandTotalLbl">0.00</label>
        </div>
        <div style="padding-top:15px;">
            <input type="button" onclick="calculate()" value="Calculate rent" class="btn btn-primary col-md-offset-4">
            <input style="margin-left:15px;" type="button" onclick="reset()" class="btn btn-primary" value="Reset">
        </div>
    </form>
<% include footer %>
