<% include header %>
<form action="/new-entry">
    <div style="height:50px;">
        <input value="Add new entry" type="submit" class="btn btn-primary btn-lg pull-right">
    </div>
    <div>    
        <% if (entries.length) { %>
        <% entries.forEach(function(entry) { %>
        <% console.log("Displaying:" + entry.title) %>
        <% console.log("Displaying:" + entry.content) %>
        <% console.log("Displaying:" + entry.published) %>    
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-right">
                    <%= entry.published %>
                </div>
                <%= entry.title %>
            </div>
            <div class="panel-body">
                <%= entry.content %>
            </div>
        </div>
    </div>
</form>   
<% }) %>
<% } else { %>
    No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
