<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A03Arpana Guestbook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="guestbook.css">
        <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="js/convert.js"></script>
    </head>
    <body class="container">
        <nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">PokhrelA03</a>
				</div>
				<ul class="nav navbar-nav">
                    <li><a href="about">About</a></li>
                    <li><a href="guestbook">Guestbook</a></li>
					<li><a href="convert">Convert</a></li>
				</ul>
			</div>
		</nav>
