<% include header %>
<h2>Write a new entry</h2>
<form method="post" role="form">
  <div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title"
    name="title" placeholder="Entry title" required></div>

  <div class="form-group">
  <label for="content">Entry text</label>
  <textarea class="form-control" id="body" name="body"
  placeholder="Description" rows="3" required></textarea></div>

  <div class="form-group">
    <input type="submit" value="Add entry" class="btn btn-primary">
    <a href="guestbook" class="btn btn-primary" role="button">Back</a>
  </div>
</form>
<% include footer %>
