body {
    background-color: #ffb3b3;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

h2.italicFont {
	font-style: italic;
}

label.pad-top {
    padding-top: 7px;
}

div.no-margin {
    margin-bottom: 0px !important;
}